<!DOCTYPE html>
<html lang="en">
  

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">

<!-- ==== MODAL ==== -->
  				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Get a Quotation</h4>
						        </div>
						        <div class="modal-body">
	<div class="row">
		<div class="col-lg-12 head-bg1">

			<form action="" method="POST" enctype="multipart/form-data" id="form_id">
    <div class="form-group">
        <h5><label for="inputName">Name</label></h5>
        <input type="text" name="career[name]" class="form-control" tabindex="1" placeholder="Enter your name" pattern="[a-zA-Z. ]{1,50}" required>
    </div>
    <div class="form-group">
        <h5><label for="inputEmail">Email</label></h5>
        <input type="email" name="career[email]" class="form-control" tabindex="2" placeholder="Enter your email address" required>
    </div>
    <div class="form-group">
        <h5><label for="inputMobile">Mobile</label></h5>
        <input type="tel" name="career[mobile]" class="form-control" tabindex="3" placeholder="Enter your mobile number" pattern="[0-9]{10}" maxlength="10" required>
    </div>
    <div class="form-group">
        <h5><label for="inputMessage">Message</label></h5>
        <input type="text" name="career[message]" class="form-control" tabindex="4" placeholder="Write your details" required>
    </div>  


    <button type="submit" name="submit" class="btn btn-primary btn-block" tabindex="5">Submit</button>
</form>
			
  		</div>
  	</div>	
						          
						        </div>
						        <!-- <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div> -->
						      </div>
						 </div>
				</div>
  
<!-- ==== NAVBAR ==== -->  

  	<div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
    	
      <div class="container">
        <div class="navbar-header">
        	<div class="row">
        	<div class="col-xs-2">
        		<a href="/quote"><button type="button"  class=" btn btn-primary hidden-sm hidden-md hidden-lg" id="navbar_quote_collapse"><span class="icon icon-pencil-2"></span> <span class="text">Get a Quote</span></button></a>

        	<!-- <a data-toggle="modal" href="#myModal"><button type="button"  class=" btn btn-primary hidden-sm hidden-md hidden-lg" id="navbar_quote_collapse"><span class="icon icon-pencil-2"></span> <span class="text">Get a Quote</span></button></a> -->
        </div>
        
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span>  <%= image_tag("favicon.ico", size:"45x45",  alt: "logo") %></span>
          </button>
      
          </div>
          <a id="navbar_logo" class="navbar-brand hidden-xs" href="/"><span>  <%= image_tag("favicon.ico", size:"45x45",  alt: "logo") %></span></a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">            
			<li> <a href="#home" class="smoothScroll" id="navbar_color1"> Home </a></li>
			<li> <a href="#about" class="smoothScroll" id="navbar_color2"> About </a></li>
			<li> <a href="#services" class="smoothScroll" id="navbar_color1"> Services </a></li>
			<li> <a href="#technologies" class="smoothScroll" id="navbar_color2"> Technologies </a></li>
			<li> <a href="#clients" class="smoothScroll" id="navbar_color1"> Clients </a></li>
			<li> <a href="#career" class="smoothScroll" id="navbar_color2"> Career </a></li>
			<!-- <li> <a href="#team" class="smoothScroll" id="navbar_color1"> Team </a></li> -->
			<li> <a href="#contact" class="smoothScroll" id="navbar_color2"> Contact </a></li>
			<li> <a href="/quote"><button type="button"  class=" btn btn-primary hidden-xs" id="navbar_quote"><span class="icon icon-pencil-2"></span> <span class="text">Get a Quote</span></button></a></li>
			
			<!-- <li> <a data-toggle="modal" href="#myModal"><button type="button"  class=" btn btn-primary hidden-xs" id="navbar_quote"><span class="icon icon-pencil-2"></span> <span class="text">Get a Quote</span></button></a></li> -->
			
        </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>


<!-- === Close responsive navbar automatically ==== -->
  <script type="text/javascript">
$('.navbar-collapse').click('li', function() {
  $('.navbar-collapse').collapse('hide');
});
  </script>


<!-- ==== HEADERWRAP  OR HOME ==== -->

 <div id="home" name="home"> 

<div id="home_carousel">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
    	<div id="h_bg">
    		<div class="carousel-caption">
    			<div class="col-sm-12 callout">
          			<img class="img-responsive" src="/assets/logo.png" alt="logo">
          			<h2>Mobile Apps And Web Development</h2>
        		</div>
        	</div>
      				<img class="img-responsive" src="/assets/home_bg1.jpg" alt="Background" width="100%" height="615px">      
  		</div>
    </div>
    <div class="item" id="carou_cap2">
    	<div id="h_bg">
    		<div class="carousel-caption">
    			<div class="col-sm-12 callout">
          			<h2>Responsive Web Design</h2>
        		</div>
        	</div>
      				<img class="img-responsive" src="/assets/home_bg2.jpg" alt="Background" width="100%" height="615px">      
  		</div>
    </div>

    <div class="item">
    	<div id="h_bg">
      <img class="img-responsive" src="/assets/home_bg3.jpg" alt="Background" width="100%" height="615px">
  		</div>
    </div>
    <div class="item">
    	<div id="h_bg">
      <img class="img-responsive" src="/assets/home_bg4.jpg" alt="Background" width="100%" height="615px">
  		</div>
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
<!-- Carousel end -->
</div>
	    
	        <!-- <div class="container" id="headerwrap" name="headerwrap">               
                	
			<header class="clearfix">
	  <h1><span><br><a href = "/"><%= image_tag("logo.png",size:"283x104", alt: "logo", class: 'img-responsive') %></a></span></h1>

	  		 		<p>Solutions for all kind of Businesses, any size, anywhere with Mobile App & Responsive Web Design.</p>
	  		 		
	  		</header>
	  		        
	  		      
	        </div> -->		
		
		
<!-- ==== ABOUT ==== -->
		<div class="container" id="about" name="about">
		    <div class="row white top-buffer">
			  <div class="col-lg-12"></div>
				<h2 class="centered">A LITTLE ABOUT US</h2>
				<hr>
			  <div class="col-lg-12 col-sm-12 blog-content justified">
				<div class="col-lg-6 col-sm-6">
					<p>We are a team of motivated individuals who care to grow your business with our Software technology expertise. We understand and analyse your business and then consult you with right technology to make your business more efficient, effective and profitable.</p>
				</div>
				
				<div class="col-lg-6 col-sm-6">
					<p> We help businesses understand the importance of fast growing mobile technologies and how these technologies can work in favor of their business. We live by the philosophy of not building a business but a relationship with immense respect for the client and their business. We don’t believe in just building a software system for you, but strive to deliver you a solution after understanding your business problems and opportunities.</p>
				</div>
			  </div>
		    </div>		
		</div><!-- container -->
		<!-- ==== SECTION DIVIDER1 -->
		<section class="section-divider textdivider divider1">
			<!-- <div class="container"> -->
				<h1>INTEGRITY. PEOPLE. PERFORMANCE.</h1>
				<hr>
				<p><b>We have the solution to all your business problems.</b></p>
			<!-- </div> --><!-- container -->
		</section><!-- section -->
		
		
<!-- ==== SERVICES ==== -->
		<div class="container" id="services" name="services">
			
			<div class="row top-buffer">
				<h2 class="centered">OUR SERVICES</h2>
				<hr>
				<div id="greywrap">
				<div class="row">
				<div class="col-sm-4 col-lg-4 callout" id="greywrap_link">
					<a href="/services/#mobile_app"><i class="back_effect">
					<%= image_tag("service_mobile.png",size:"60x60", alt: "Mobile App Development" , class: 'img-responsive') %></i>
					<h4>Mobile App Development (iOS and Android)</h4></a>
				</div>
				<div class="col-sm-4 col-lg-4 callout" id="greywrap_link">
					<a href="/services/#res_web_des"><i class="back_effect">
					<%= image_tag("service_responsive_design.png",size:"80x60", alt: "Responsive Web Design" , class: 'img-responsive') %></i>
					<h4>Responsive Web Design and Development</h4></a>
				</div>
				<div class="col-sm-4 col-lg-4 callout" id="greywrap_link">
					<a href="/services/#mobile_market"><i class="back_effect">
					<%= image_tag("service_mobile_marketing.png",size:"60x60", alt: "Mobile Marketing" , class: 'img-responsive') %></i>
					<h4>Mobile Marketing and Solutions</h4></a><br>
				</div>		

				<div class="col-sm-4 col-lg-4 callout" id="greywrap_link">
					<a href="/services/#software"><i class="back_effect">
					<%= image_tag("service_software.png",size:"60x60", alt: "Software Development" , class: 'img-responsive') %></i>
					<h4>Custom Software Development</h4></a>
				</div>
					
				
				<div class="col-sm-4 col-lg-4 callout" id="greywrap_link">
					<a href="/services#graphic_des"><i class="back_effect">
					<%= image_tag("service_graphics.png",size:"60x60", alt: "Graphic Design" , class: 'img-responsive') %></i>
					<h4>Graphic Design and Development</h4></a>
				</div>
				
				<div class="col-sm-4 col-lg-4 callout" id="greywrap_link">
					<a href="/services/#web_app"><i class="back_effect">
					<%= image_tag("service_webapp.png",size:"60x60", alt: "Web App Development" , class: 'img-responsive') %></i>
					<h4>WebApp Development</h4></a>
				</div>
			</div>
			</div>
			</div>			
		</div>
		<!-- ==== SECTION DIVIDER2 -->
		 <section class="section-divider textdivider divider2">
			<!-- <div class="container"> -->
				<h1>WE ARE HERE TO PROVIDE EXPERTISE</h1>
				<hr>
				<p><b>We don’t believe in just building a software system, but we strive to deliver you a solution.</b></p>
			<!-- </div> -->
		</section> <!-- section -->
		

<!-- ==== TECHNOLOGIES ==== -->
		<div class="container" id="technologies" name="technologies">
			<div class="row top-buffer">
				<h2 class="centered">TECHNOLOGIES</h2>
				<hr>
				<div id="greywrap">
				<div class="row">
				<div class="col-sm-3 col-lg-3 callout" id="greywrap_link1">
					<i class="back_effect">
					<%= image_tag("techno_windows_ iphone_android.png",size:"60x60", alt: "Mobile-App" , class: 'img-responsive') %></i>
					<h3>Mobile:</h3><h5> iOS and Android</h5>
				</div>
					
				<div class="col-sm-3 col-lg-3 callout" id="greywrap_link1">
					<i class="back_effect">
					<%= image_tag("techno_cloud.png",size:"60x60", alt: "Cloud Platforms" , class: 'img-responsive') %></i>
					<h3>Cloud Platforms:</h3><h5> Google Cloud, Amazon Web Services, Windows Azure and more</h5>
				</div>
				
				<div class="col-sm-3 col-lg-3 callout" id="greywrap_link1">
					<i class="back_effect">
					<%= image_tag("techno_web-tech.png",size:"60x60", alt: "Web Technologies" , class: 'img-responsive') %></i>
					<h3>Web Technologies: </h3><h5>HTML5, CSS3, PHP Framework, NodeJS, Microsoft ,NET</h5>
				</div>

				<div class="col-sm-3 col-lg-3 callout" id="greywrap_link1">
					<i class="back_effect">
					<%= image_tag("techno_web_cms.png",size:"60x60", alt: "Web CSM" , class: 'img-responsive') %></i>
					<h3>Web CMS:</h3><h5> Wordpress, Joomla, Drupal</h5>
				</div>					
				
			</div>
			</div>
			</div><!-- row -->

     </div><!-- container -->
     <!-- ==== SECTION DIVIDER3 -->
		 <section class="section-divider textdivider divider3">
			<!-- <div class="container"> -->
				<h1>INNOVATIVE TECHNOLOGY SOLUTIONS</h1>
				<hr>
				<p><b>You can rely on us for high quality of deliverable and successful implementation.</b></p>
			<!-- </div> -->
		</section> <!-- section -->

<!-- ==== CLIENTS ==== -->
		<div class="container" id="clients" name="clients">
			<div class="row white centered top-buffer">
				<h2 class="centered">MEET OUR AWESOME CLIENTS</h2>
				<hr>

				<div class="col-sm-12 col-md-12 col-lg-12" id="client_carousel">    
    <div class="well">     
    <div id="myCarousel" class="carousel slide">     
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
     
    <!-- Carousel items -->
    <div class="carousel-inner">
        
    <div class="item active">
        <div class="row-fluid">          
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 centered">
          <a href="http://gloryofindia.com/" target="_blank"><%= image_tag("clientlogo1.png", size: "160x120", alt: "GLORY OF INDIA", class: 'img img-responsive') %><h5><b>GLORY OF INDIA</b></h5></a>
        </div> 
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 centered">
          <a href="http://confidentmarketingcoach.com/" target="_blank"><%= image_tag("clientlogo2.1.png", size: "160x120", alt: "CONFIDENT MARKETING CLUB", class: 'img img-responsive') %><h5><b>CONFIDENT MARKETING CLUB</b></h5></a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 centered">
          <a href="http://omgrocks.com/" target="_blank"><%= image_tag("clientlogo3.png", size: "160x120", alt: "ONLINE MARKETING GURUS", class: 'img img-responsive') %><h5><b>ONLINE MARKETING GURUS</b></h5></a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 centered">
          <a href="http://idea2inception.com/" target="_blank"><%= image_tag("clientlogo4.png", size: "160x120", alt: "IDEA 2 INCEPTION", class: 'img img-responsive') %><h5><b>IDEA 2 INCEPTION</b></h5></a>
        </div>
     

        </div><!--/row-fluid-->
    </div><!--/item-->
     
    <div class="item">
        <div class="row-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 centered">
          <a href="http://www.cmitsolutions.com/" target="_blank"><%= image_tag("clientlogo5.jpg", size: "160x120", alt: "CMIT SOLUTIONS", class: 'img img-responsive') %><h5><b>CMIT SOLUTIONS</b></h5></a>
        </div>       

          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 centered">
          <a href="http://confidentmarketingcoach.com/" target="_blank"><%= image_tag("clientlogo2.1.png", size: "160x120", alt: "CONFIDENT MARKETING CLUB", class: 'img img-responsive') %><h5><b>CONFIDENT MARKETING CLUB</b></h5></a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 centered">
          <a href="http://omgrocks.com/" target="_blank"><%= image_tag("clientlogo3.png", size: "160x120", alt: "ONLINE MARKETING GURUS", class: 'img img-responsive') %><h5><b>ONLINE MARKETING GURUS</b></h5></a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 centered">
          <a href="http://idea2inception.com/" target="_blank"><%= image_tag("clientlogo4.png", size: "160x120", alt: "IDEA 2 INCEPTION", class: 'img img-responsive') %><h5><b>IDEA 2 INCEPTION</b></h5></a>
        </div>


        </div><!--/row-fluid-->
    </div><!--/item-->
     
    
     
    </div><!--/carousel-inner-->
     
    <a class="left carousel-control"  href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control"  href="#myCarousel" data-slide="next">›</a>
    </div><!--/myCarousel-->
     
    </div><!--/well-->
  </div>
				
			</div><!-- row -->
          </div><!-- container -->

          <!-- ==== SECTION DIVIDER4 -->
       <section class="section-divider textdivider divider4">
			
				<h1>PERFORMANCE DELIVERED</h1>
				<hr>
				<p><b>We do not make deals, We build relations.</b></p>
			
		</section><!-- section -->

		

<!-- ==== CAREER ==== -->
		<div class="container" id="career" name="career">
			<div class="row top-buffer">
				<h2 class="centered">CAREER</h2>
				<hr>
				<br>
			</div><!-- row -->

			<div class="row">
				
				
				<div class="col-sm-12 col-lg-12 col-xs-12 blog-content">

					<div class="col-sm-9 col-lg-9 bottom_buffer justified">					

                       <h3>Working at PRAVES</h3>
                       <P>Praves Technologies builds strong relations with employees based on mutual trust and respect. Our strength lies in our highly skilled and motivated work force. We look forward to have people with talent, inspiration and sense of adventure for taking themselves and lead to company growth as well.
                       </P>
											<!-- <p><a href="#" class="icon icon-link"> Read More</a></p> -->
						
					</div>
					<div class="col-lg-1">

					</div>
					<div class="col-sm-3 col-lg-2">
					<br>	
						<h4><a href="/career"><button type="button"  class="btn btn-info btn-block regular-link" > <span class="text">Join Our Organization</span></button></a></h4>
						<h4><a href="/career"><button type="button"  class="btn btn-info btn-block regular-link" > <span class="text">Current Jobs</span></button></a></h4>
						
						
					</div>

				</div><!-- /col -->
			</div><!-- /row -->
			<br>
			</div><!-- container -->
		
		<!-- ==== SECTION DIVIDER5 -->
		<section class="section-divider textdivider divider5">
			<!-- <div class="container">
				<br><br><br><br><br><br> -->
				<h1>OPPORTUNITIES TO CLIMB GREATER HEIGHTS</h1>
				<hr>
				<P><b>Lets work together and explore opportunities.</b></P>
			<!-- </div> --><!-- container -->
		</section><!-- section -->
		

<!-- ==== TEAM ==== -->
		<!-- <div class="container" id="team" name="team">
			<div class="row white centered top-buffer">
				<h2 class="centered">HERE IS OUR TEAM</h2>
				<hr>
				<br>
				<br>
						<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				<div class="col-lg-3 centered">
					<img class="img img-rounded" src="/assets/team01.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Mike Arney</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Mike combines an expert technical knowledge with a real eye for design. Working with clients from a wide range of industries, he fully understands client objectives when working on a project, large or small.</p>
				</div>
				
				<div class="col-lg-3 centered">
					<img class="img img-rounded" src="/assets/team01.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Tim Davies</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Tim is an experienced marcoms practitioner and manages projects from inception to delivery. He understands the synergy between great design and commercial effectiveness which shines through on every project.</p>
				</div>
				
				<div class="col-lg-3 centered">
					<img class="img img-rounded" src="/assets/team01.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Michele Lampa</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Be a creative director is a hard task, but Michele loves what she does. Her combination of knowledge and expertise is an important pillar in our agency.</p>
				</div>
				
				<div class="col-lg-3 centered">
					<img class="img img-rounded" src="/assets/team01.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Jaye Smith</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Jaye began making websites when animated logos and scrolling text were cool, but has since found a love for simplicity, creating websites that are a pleasure to browse. Monkey Island Fan.</p>
				</div>
				
			</div>
			<br>
			<br>
			<br>
			<br>
		</div> -->
			
			
			
		
		

<!-- ==== CONTACT ==== -->

		<div class="container" id="contact" name="contact">
			<div class="row top-buffer">
				<h2 class="centered">THANKS FOR VISITING US</h2>
				<hr>
				<div class="col-lg-1 col-sm-1">
				</div>
				<div class="col-lg-4 col-sm-4">
					<h4>Contact Information</h4>
					<p>
					<span class="icon icon-home"></span><b>Address</b><br>
					Sun Life Plaza, West Tower
					144-4 Avenue SW, Suite 1600
					Calgary, AB T2P 3N4
					Canada.<br> 
					<span class="icon icon-phone"></span> +14034620868  <br/>
					<!-- <span class="icon icon-mobile"></span> +34 59855 9853 <br/> -->
					<span class="icon icon-envelop"></span><a href="mailto:email@pravestech.ca">&nbsp;email@pravestech.ca</a><br/>
					
					<a target="_blank" href="https://www.linkedin.com/company/praves-technologies-ltd-?"><span id="logo_in"><%= image_tag("logo_linkedin.png", alt: "LinkedIn") %></span> </a>
					
					<a target="_blank" href="https://www.facebook.com/PravesTechnologies"><span id="logo_fb"><%= image_tag("logo_facebook.png", alt: "Facebook") %></span> </a> <br/>
					</p>
				</div><!-- col -->
				
				<div class="col-lg-1 col-sm-1">
				</div>
				
				<div class="col-lg-6 col-sm-6">
					<h4>Our Location</h4>
					<p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1254.1610603064853!2d-114.0692075!3d51.0471397!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ba24dbae70547bd!2sPRAVES+Technologies+Ltd.!5e0!3m2!1sen!2sin!4v1406119267342" width="400" height="300" frameborder="0" style="border:0"></iframe></p>
				</div><!-- col -->

			</div><!-- row -->
		</div><!-- container -->

		<!-- ==== SECTION DIVIDER8 ==== -->
		<section class="section-divider textdivider divider8">
			<!-- <div class="container"> -->
				<h1>SITUATED IN CALGARY, CANADA.</h1>
				<hr>
				<p><b>Sun Life Plaza, West Tower, 144-4 Avenue SW, Suite 1600, Calgary<b>
				<b><span class="icon icon-phone">+14034620868</span><b></p>
			<!-- </div> --><!-- container -->
		</section><!-- section -->

		

		

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		

	<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/retina.js"></script>
	<script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/assets/smoothscroll.js"></script>
    <script type="text/javascript" src="/assets/jquery-func.js"></script>
    <script type="text/javascript" src="/assets/contact.js"></script>

	
  </body>
</html>
