<!DOCTYPE html>
<html lang="en">
  <head>  
  </head>
  <body >  <!-- style="background: #9DAAAF" -->
<div class="divider_service">
  <div class="row">
      
  <div id="service_head"> 
        <div class="col-xs-12 col-md-12 col-lg-12 head-bg"><h3>Get a Quote Here</h3> </div>        
  </div>

  <div id="service_content">
        <div class="bs-example bs-example-tabs">
            <div class="col-xs-12 col-md-12 col-lg-12 blog-content">
                <div class="col-md-6 col-lg-6">
                    <div class="col-md-12 col-lg-12 centered">
                          <p> <img class="img img-circle" src="/assets/career4.png" width="60px" height="60px" ></p>
                          <!-- <h4>Send Us Your Query</h4> -->
                          <h4>LET’S CONNECT</h4>
                    </div>

                    <div class="col-md-12 col-lg-12 blog-content bottom_buffer">
                           
    <!-- Form -->

    <div class="col-md-12 col-lg-12 head-bg1">
       <%= form_for @user, html: {id: :form_id } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



 <div class="form-group">   
    <%= f.label :name %><br>
    <%= f.text_field :name, type:"text", tabindex: "1", class: "form-control", pattern: "[!-~ ]{1,50}",  placeholder: 'Enter your name',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, type:"email", tabindex: "2", class: "form-control",  placeholder: 'Enter your email address',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :mobile %><br>
    <%= f.number_field :mobile, type:"tel", tabindex: "3", class: "form-control", pattern: "[0-9]{1,20}",  placeholder: 'Enter your mobile number', required: true  %>
  </div>
  
  <div class="form-group">
    <%= f.label :area, 'I am looking for' %><br>
    <%= f.select(:area,[['Mobile App Development'],['Responsive Web Design and Development'],['Mobile Marketing and Solutions'],['Custom Software Development'],['Graphic Design and Development'],['Web App Development'],['Others (Please add details below)']],{}, tabindex: "4", class: "form-control" ) %>
  </div>

  <div class="form-group">
    <%= f.label :message %><br>
    <%= f.text_area :message, type:"text", tabindex: "5", class: "form-control",  placeholder: 'Please provide a description of your requirement',rows:"3", required: true  %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary btn-block', tabindex: "6" %>
  </div>
<% end %>
         
    </div>
        
    <!-- /Form -->

                    </div>
              </div><!-- /col -->
        
        <div class="col-md-6 col-lg-6">
          <div class="col-md-12 col-lg-12 centered">          
            <p><img class="img img-circle" src="/assets/career2.png" width="60px" height="60px"></p>
          <!--   <h4>How We Can Help You</h4>  -->
            <h4>TAKE THE FIRST STEP TO TRANSFORM YOUR BUSINESS</h4>     
          </div>

          <div class="col-md-12 col-lg-12 blog-content justified">
            <ul class="list-group" >
                <li> Connect with us TODAY and get our consultation</li>
                <li> We are here to fully understand your business requirements</li>
                <li> Our experts will provide innovative solutions with services that will exceed your expectations</li>
                <li> We build an atmosphere of mutual respect and trust</li> 
            </ul>         
         
          </div>

        </div><!-- /col -->  

      </div>
    </div>
  </div>
  </div>
  </div>  
  </body>

  </html>
