<!DOCTYPE html>
<html lang="en">
  <head>  
  </head>
  <body >  <!-- style="background: #9DAAAF" -->
<div class="divider_service">
			
  	<div id="service_head">	
  			<div class="row col-xs-12 col-lg-12 centered"><h3>OUR SERVICES</h3> </div>	

    		<div class="row col-xs-12 col-lg-12 blog-content centered">

    		 <div class="col-lg-6 col-xs-12">	
    			<div class="col-lg-4 col-xs-4 callout" id="service_link">
					<%= image_tag("service_mobile.png",size:"50x50", alt: "Mobile App Development") %>
					<a href="#mobile_app" data-toggle="tab" style="background:#9EA9A9;"><h5>Mobile App Development (iOS and Android)</h5></a>
				</div>
				<div class="col-lg-4 col-xs-4 callout" id="service_link">
					<%= image_tag("service_responsive_design.png",size:"50x50", alt: "Responsive Web Design") %>
					<a href="#res_web_des" data-toggle="tab" class="active" style="background:#9EA9A9;"><h5>Responsive Web Design and Development</h5></a>
				</div>
				<div class="col-lg-4 col-xs-4 callout" id="service_link">
					<%= image_tag("service_mobile_marketing.png",size:"50x50", alt: "Mobile Marketing") %>					
					<a href="#mobile_market" data-toggle="tab" style="background:#9EA9A9;"><h5>Mobile Marketing and Solutions</h5></a>
				</div>
			 </div>	
			 <div class="col-lg-6 col-xs-12">
				<div class="col-lg-4 col-xs-4 callout" id="service_link">
					<%= image_tag("service_software.png",size:"50x50", alt: "Software Development") %>				
					<a href="#software" data-toggle="tab" style="background:#9EA9A9;"><h5>Custom Software Development</h5></a>
				</div>					
				<div class="col-lg-4 col-xs-4 callout" id="service_link">
					<%= image_tag("service_graphics.png",size:"50x50", alt: "Graphic Design") %>
					<a href="#graphic_des" data-toggle="tab" style="background:#9EA9A9;"><h5>Graphic Design and Development</h5></a>
				</div>				
				<div class="col-lg-4 col-xs-4 callout" id="service_link">
					<%= image_tag("service_webapp.png",size:"50x50", alt: "Web App Development") %>
					<a href="#web_app" data-toggle="tab" style="background:#9EA9A9;"><h5>WebApp Development</h5></a>
				</div>
			  </div>	
			</div>
	</div>

	<div id="service_content">
			<div class="bs-example bs-example-tabs">
    			<div class="tab-content">      

<!-- Mobile App Development -->
					<div class="tab-pane fade in active" id="mobile_app"> 
						<div class="container"> 
							<div class="col-lg-12">
	   	<h3>Mobile App Development (iOS and Android)</h3>
		
		<p>Mobile apps have become an important part of our daily lives from checking weather when you wake up to ordering pizza when you're hungry (and lazy!). There is almost nothing that you want to do that doesnt have an app for it.</p>

		<p>The importance of mobile apps can be gauged by the fact that lack and abundance of it can lead to rise and fall of mobile operating systems that have been around for decades.</p>

		<p>The apps are very critical to success of a business, nowadays apps are as important as having a website because handheld devices now have a wider outreach. Having an app is a convenience to both the business and the customer (Everybody wins!) Exhibit A, it takes less than 2 minutes to book a movie ticket. Apps can do so much more than a website and is a great means of advertising new things about your business through features like push notifications, which in this age of “Information at a glance” is so effective.</p>

		<p>This is where we come in, we build beautiful apps with an amazing user experience (UX) alligned with your business to help it grow and have a wider audience. We specialize in both iOS and Android apps.</p>

		<p>A recent study published by Reuters, showed that China has more people online from a handheld device than a PC. If this is the sign of things to come then businesses that dont have apps are at a great disadvantage.</p>
							</div>
    					</div>
					</div>


<!-- Responsive Web Design and Development -->

      				<div class="tab-pane fade" id="res_web_des">
      					<div class="container">
      						<div class="col-lg-12">
      	<h3>Responsive Web Design and Development</h3>

		<p>Technology has progressed from the conventional personal computers to handheld devices to wearable but unfortunately most of the web is not optimized for these 'Next Gen' devices. Businesses nowadays have to deal with this pressing issue because gone are the days where one would get by with an unappealing website, now essentially people judge a business by how well designed their online content is, and we understand this.</p>

		<p>However with Responsive Web Design principles we don't have to worry about this issue. Websites made with Responsive Web Design run on different devices with different resolutions seamlessly. They adapt themselves to varied resolutions giving viewer an amazing experience each time be it a desktop, a laptop or even a handheld device.</p>

		<p>We take special care to make your business future proof, by implementing principles like Responsive Web Design.</p><br>
      						</div>
      					</div>
      				</div>

<!-- Mobile Marketing And Solution -->
					<div class="tab-pane fade" id="mobile_market"> 
						<div class="container"> 
							<div class="col-lg-12">
	   	<h3>Mobile Marketing and Solution</h3>

		<p>Social media has gained a lot of ground since the beginning of this decade. Now not only people use social media to connect with other people but to connect to other businesses as well. Success of a business can be based on its popularity on social media.</p>

	   	<p>Social media is an effective mode of adverting and marketing a product to a very large number of people with minimal effort. Business reviews on these forums can make or break a business, such is the power of social media.</p>

	   	<p>We offer you high quality of Search Engine Optimization services, Social media marketing, Creation and maintenance of blogs and basically making your business's presence felt in the digital world. Using such tools can increase the profits of a business tenfold. With your amazing business and our technical expertise there is no looking back.</p>
							<div class="col-lg-12">
								<br><br><br><br><br>
							</div>
							</div>
    					</div>
					</div>

<!-- Custom Software Development -->
					<div class="tab-pane fade" id="software"> 
						<div class="container"> 
							<div class="col-lg-12">
		<h3>Custom Software Development</h3>	   						

		<p>Custom Software is developed and maintained by 'us' but is owned by 'you'. The software is designed keeping in mind needs and requirements of your organization. Our team here at Praves Technologies works cohesively with the clients throughout the development cycle and develops high quality and high performance softwares optimized for Windows, Mac and other platforms.</p>

		<p>Some key benefits of custom software over Off-the-Shelf (pre-written or pre-packaged) software are:</p>

		<li>The client owns the software.</li>
		<li>No licensing fees and no additional cost per user.</li>
		<li>Custom software is flexible and upgradeable.</li>
		<li>Designed and developed as per the client's requirements.</li>
		<li>Highly scalable.</li>
		<li>Tailor made for your hardware's capabilities.</li><br>

		<p>Off-the-shelf softwares carry the risk of not being able to meet your business requirements in the future, there is no such risk with custom software. Custom software provide an excellent platform to build and expand your business with continued success.</p>
							</div>
    					</div>
					</div>	

<!--  Graphics Design and Development -->
      				<div class="tab-pane fade" id="graphic_des"> 
						<div class="container"> 
							<div class="col-lg-12">
	   	<h3>Graphic Design and Development</h3>
	   						
	   	<p> Importance of having a great Brand Identity and Logo cannot be underestimated in todays world. Take Apple for instance more than the products its the brand logo and the brand identity that sells. Design is very important to the way people perceive your business. </p>

	   	<p> We offer Image, Logo and Brand identity design solutions to our clients. Our team of ingenious designers at Praves Technologies works very hard to make stunning and eye catching visuals that creates an instant appeal to the customer.</p>
	   						</div>	   						
	   						<div class="col-lg-12">
								<br><br><br><br><br><br>
							</div>
    					</div>
					</div>


<!-- Web App Development -->
					<div class="tab-pane fade" id="web_app"> 
						<div class="container"> 
							<div class="col-lg-12">

		<h3>Web App Development</h3>

		<p>Web Applications are basically applications that run in a web browser. As web browsers are becoming more and more advanced they are capable of handling a lot of processing. Since the web browsers are available very conveniently, using a web application is beneficial than using native PC and Mobile Apps in some cases.</p>

		<p>Some of the key advantages of using a Web Application are:</p>

		<li>No installation required.</li>
		<li>Quick and easy updates.</li>
		<li>Data secure and easy to backup.</li>
		<li>Available 24*7</li>
		<li>Can be used on low configuration hardware.</li>
		
		<p>We use HTML5, CSS3, PHP Framework, NodeJS and Microsoft ASP.NET technologies to create an amazing web app experience.</p>

				    		</div>
				    	</div>
					</div>

  				</div>
  			</div>
  	</div>
	
	</div>	
  </body>

  </html>
